#header-image-menu{
	top: 10px;
	position: relative;
}

#header-image-menu img{
	width: 100%;
	margin: none;
	padding: none;
}

#image-text{
  position: absolute;
  top: 60%;
  left: 60%;
  font-family: 'Roboto';
  color: #ffffff;
  transform: translate(-15%, 500%);
  text-align: center;
}

/*************************/
/* Styling Header */
/*************************/
header{
	overflow: hidden;
}

#top-header{
	text-align: center;
	height: 60px;
}

/****************/
/* Styling Logo */
/****************/
#logo{
	float: left;
	padding: none;
	margin: none;
	height: 30px;
	width: 30%;
}

#logo img{
	width: 60%;
  height: 70px;
	float: left;
  
} 

/***************************/
/* Styling Navigation Menu */
/***************************/
#menu{
	float: right;
	width: 70%;
	height: 100%;
	margin: none;
}
	
#menu ul{
	text-align: center;
	float: right;
	margin: none;
	background: #ffffff;
}
	
#menu li{
	display: inline-block;
	padding: none;
	margin: none;

}
	
#menu li a {
	display: inline-block;
	padding: 0em 1.5em;
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 60px;
  color: black;
 
}




