#header-image-menu{
	top: 10px;
	position: relative;
}

#header-image-menu img{
	width: 100%;
	margin: none;
	padding: none;
}

/*************************/
/* Styling Header */
/*************************/
header{
	
	overflow: hidden;
}

#top-header{
		
	text-align: center;
	height: 60px;
}

/****************/
/* Styling Logo */
/****************/
#logo{
	float: left;
	padding: none;
	margin: none;
	height: 30px;
	width: 30%;

}

#logo img{
	width: 60%;
  height: 70px;
	float: left;
} 

/***************************/
/* Styling Navigation Menu */
/***************************/
#menu{
	float: right;
	width: 70%;
	height: 100%;
	margin: none;
}
	
#menu ul{
	text-align: center;
	float: right;
	margin: none;
	background: #ffffff;
}
	
#menu li{
	display: inline-block;
	padding: none;
	margin: none;
}
	
#menu li a, #menu li span{
	display: inline-block;
	padding: 0em 1.5em;
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 60px;
}
	
#menu li a{
	color: #000000;
}
	
#menu li:hover a, #menu li span{
  cursor: grab;
	background: #FFF;
	color: #0074D9;
	border-left: 1px solid #0074D9;
	text-decoration: none;
}

#image-text{
  position: absolute;
  top: 60%;
  left: 60%;
  font-family: 'Roboto';
  color: #ffffff;
  transform: translate(-15%, 500%);
  text-align: center;
}