.register{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(223, 223, 223);
}

.register-container{
    color: rgb(30, 30, 30);
    width: fit-content;
    height: 150px;
    margin: 0px;
    padding: 20px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    position: relative;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.register-container h2{
    margin: 0px;
}

.register-container button{
    background-color: rgb(86, 86, 86);
    border: none;
    padding: 8px;
    position: absolute;
    left: 13px;
    bottom: 13px;
    color: white;
    border-radius: 3px;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.register-row{
    text-align: left;
    padding: 3px;
}