#header-image-menu{
	top: 10px;
	position: relative;
	margin: 1px;
}

#header-image-menu img{
	width: 100%;
	margin: 1px;
	padding: 0px;
}

#image-text{
  position: absolute;
  top: 10%;
  left: 5%;
  font-family: 'Helvetica Neue';
  color: #ffffff;
  font-size: 40px;
  
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
}

/*************************/
/* Styling Header */
/*************************/
#header{
	overflow: hidden;
	margin: 0px;
	display: flex;
	height: 70px;

}

#top-header{
	text-align: center;
	height: 60px;
}

/****************/
/* Styling Logo */
/****************/
#logo{
	float: left;
	padding: none;
	margin: none;
	height: 30px;
	width: 30%;
	margin-bottom: 5px;
	margin-top: 5px;
}

#logo img{
	width: 60%;
  height: 70px;
	float: left;
  
} 

/***************************/
/* Styling Navigation Menu */
/***************************/
#menu{
	float: right;
	width: 70%;
	height: 100%;
	margin: none;
}
	
#menu ul{
	text-align: center;
	float: right;
	margin: none;
	background: #ffffff;
}
	
#menu li{
	display: inline-block;
	padding: none;
	margin: none;

}
	
#menu li a {
	display: inline-block;
	padding: 0em 1.5em;
	text-decoration: none;
	font-weight: 600;
	text-transform: uppercase;
	line-height: 60px;
  	color: black; 
}


/* CSS */
#help-button {
  background: #547980;
  border: 1px solid #547980;
  border-radius: 6px;
  box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
  font-size: 16px;
  font-weight: 800;
  line-height: 16px;
  min-height: 40px;
  outline: 0;
  padding: 12px 14px;
  text-align: center;
  text-rendering: geometricprecision;
  text-transform: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: middle;
  margin-right:10px;
  margin-bottom: 5px;
  margin-top: 5px;
}

#help-button:hover,
#help-button:active {
  background-color: white;
  background-position: 0 0;
  color: #547980;
}

#help-button:active {
  opacity: .5;
}