.rectangle_long1 {
    position: relative;
    margin-top: 50px;
    margin-bottom: 50px;
    background-color: #F7E9D6;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color: #CA5500;
}
.rectangle_long2 {
    position: relative;
    margin-top: 5px;
    margin-bottom: 50px;
    background-color: #F0E0E0;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 14px;
    color:#BC0000;
}
.Message_div{
    position:relative;
    width: 100%;
    text-align: center;
    font-size: 15px;
}

.warning-mes{
    width: 1000px;
    margin: auto;
    margin-top: 20px;
    font-size: 15px;
}

.hmes{
    font-weight: bold;
    margin: auto;   
}


.warning-mes ul li{
    line-height: 0.2px;
}

.bold{
    font-weight: 600;
}
.dicon{
    width: 30px;
    height: 30px;
    &:hover{
        cursor:pointer;
    }
}