.t-y {
    position: absolute;
    top: 20%;
    left: 30%;
    white-space: pre-wrap;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 717px;
    height: 32px;
    font-size: 14px;
  }
  .span {
    font-size: 12px;
  }
  .copyright {
    margin: 0;
  }
  .copyright-container1 {
    width: 100%;
  }
  .copyright-container {
    position: absolute;
    top: 20%;
    left: 5%;
    font-weight: 300;
    font-size: 11px;
    display: flex;
    align-items: center;
    width: 346px;
    height: 38px;
  }
  .image-6-icon,
  .image-7-icon,
  .image-8-icon {
    position: absolute;
    top: 20%;
    left: 1177px;
    width: 68px;
    height: 47px;
    object-fit: cover;
  }
  .image-7-icon,
  .image-8-icon {
    left: 1256px;
  }
  .image-8-icon {
    left: 1335px;
  }
  .footer {
    position: relative;
    left: 0;
    background-color: #404040;
    width: 100%;
    height: 77px;
    overflow: hidden;
    color: #fff;
    margin: 0px;
    margin-top: 100px;
  }