.help_rectangle1 {
    border-radius: 6px;
    box-sizing: border-box;
    width: 500px;
    height: 120px;
    padding: 20px 20px;
    margin:auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #cd5b3c;
    &:hover{
        
        background-color: #bd4f31;
		cursor: pointer;
    }
}

.arrow-icon3{
    width: 30px;
    margin:auto;
    margin-left: 140px; 
}
.arrow-icon4{
    width: 30px;
    margin:auto;
    margin-left: 360px; 
}

.help_rectangle2 {
    position: absolute;
    top: 240px;
    left: 50px;
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    width: 500px;
    height: 120px;
    display: flex;
    align-items: center;
    background-color: #547980;
    &:hover{
        transform: translateY(-1px);
        border: 2px solid rgba(0, 0, 0, 0.2);
    }
}

.himage2{
    max-width:100px;
    max-height:100px;
    margin:auto;
}

.help_div{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 23px;
    margin:auto;
    color: white;
    font-weight: 900;


}

.help_div2{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 5px;
    left: 10%;
    width: 349px;
    height: 120px;
    font-size: 27px;
}



.help_body{
   position: relative;
   margin-top: 10px;
   left: 20%;
   width: 60%;
   height: 500px;
   font-size: 22px;
   color: #000;
}
