.rectangle-parent, 
.rectangle-group, 
.rectangle-container, 
.group-div, 
.rectangle-parent1,
.rectangle-parent2 {
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    width: 20%;
    height: 10%;
    display: flex;
    align-items: center;
    &:hover {
        border: 2px solid rgba(0, 0, 0, 0.2);
    }
}
.rectangle-parent {
    position: absolute;
    top: 26px;
    left: 208px;
    width: 349px;
    height: 120px;
}
.rectangle-group {
    position: absolute;
    top: 310px;
    left: 208px;
    width: 349px;
    height: 120px;
}
.rectangle-container {
    position: absolute;
    top: 168px;
    left: 208px;
    width: 349px;
    height: 120px;
}
.group-div {
    position: absolute;
    top: 26px;
    left: 593px;
    width: 349px;
    height: 120px;
  }
  .rectangle-parent1 {
    position: absolute;
    top: 168px;
    left: 593px;
    width: 349px;
    height: 120px;
  }
  .rectangle-parent2 {
    position: absolute;
    top: 310px;
    left: 593px;
    width: 349px;
    height: 120px;
  }

.hdiv{
    position: absolute;
    left: 25%;
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    line-height: 1.5;
    color: black;
}

.hdiv1{
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-size: 11px;
    line-height: 1;
}
.hdiv2{
    position: absolute;
    top: 0;
    left: 400px;
    width: 349px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 27px;
}
.himage {
    position: absolute;
    left: 5%;
    max-width: 64px;
    max-height: 64px;
    top: 25px;
}
.body2{
   position: relative;
   margin-top: 5%;
   left: 10%;
   width: 80%;
   height: 610px;
   font-size: 22px;
   color: #000;
   display: flex;
   align-items: center;
}