
/*	Styling header image	*/
#header-image-menu{
	margin:none;
	padding: none;
	height: 510.39px;
	margin-top: 50px;
}

#header-image-menu img{
	width: 100%;
	padding: none;
	margin: none;
}

.image-text{

  margin: auto;
  font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
  color: #ffffff;
  font-size: 32px;  
  text-align: center;
  text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.45);
}

.button-div1{
	width: 400px;
	margin-top: 10px;
}

.header-button{
	min-height: 45px;
	min-width: 180px;
	padding: 10px 10px;
	border-radius: 25px;
	border: none;
	color: white;
	font-size: 15px;
	font-weight: bold;
	background-color: #cd5b3c;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	&:hover {
		background-color: #bd4f31;
		cursor: pointer;
	}

}
.image-text2{

	width: 400px;
	float:left;
	font-family: 'Helvetica Neue';
	margin-top: 10px;
	font-size: 18px;
	color: white;
	
}

.header-text{
	display: block;
	position: absolute;
	left: 100px;
	top: 200px;
	text-align: left;
	max-width: 700px;
	height: 300px;
}

.header-text button{
	
	margin:auto;
	width: 100px;
	height: 20px;
}

.header-div{
	margin:auto;
	height: 100px
}

/* Styling header */

#header{
	overflow: hidden;
	margin: none;
	display: flex;

}

.sticky {
	background-color: white;
	position: fixed;
	width: 100%;
	top: 0;
	z-index: 1;

  }


/* Styling logo */

#logo{
	float: left;
	padding: none;
	margin: none;
	height: 30px;
	width: 30%;
	margin-bottom: 5px;
	margin-top: 5px;
}

#logo img{
	width: 60%;
  height: 70px;
	float: left;
  
} 

/* Styling Navigation Menu */

#menu{
	float: right;
	width: 70%;
	height: 100%;
	margin: none;
}
	
#menu ul{
	text-align: center;
	float: right;
	margin: none;
	background: #ffffff;
}
	
#menu li{
	display: inline-block;
	padding: none;
	margin: none;

}
	
#menu li a {
	display: inline-block;
	padding: 0em 7px;
}



.info-div1{
	position: absolute;
	width: 100%;
	bottom: -50px;
	height: 400px;
}

.info-div2{
	width: 100%;
	background-color: rgb(33, 32, 32);
	margin: none;
	height: 600px;
}

.info-box1{
	
	height: 350px;
	width: 500px;
	background-color: black;
	margin: auto;
	margin-top: 50px;
	border-radius: 25px;
	background-color: #cd5b3c;

}

.info-div3{
	margin: auto;
	width: 80%;
	display: flex;
}

.info-box-img{
	max-width: 150px;
	max-height: 150px;
	margin:auto;
}

.info-img-div{
	width: 500px;
	text-align: center;
	display: block;
}

.info-b-text{
	margin:auto;
	width: 375px;
	height: 220px;
	font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
	text-align: center;
}

.info-span1{
	color: white;
	font-weight: bold;
	font-size: 22px;
	line-height: 3;
}

.info-span2{
	color: white;
	font-size: 16px;

}