.div1{
    width:1000px;
    margin:auto;
    min-height: 400px;
    height:auto;
}

.picon{
    &:hover{
        cursor: pointer;
    }
}

.dicon{
    &:hover{
        cursor: pointer;
    }
}

.div2{
    height:60px;
    margin-left:none;
    position: inherit;
    text-align: left;
    font-size: 18px;
}

.ddcell{
    width: 200px;
}

.decell{
    width: 200px;
}
.dscell{
    width: 700px;
}


.div2 span{
    font-weight: bold;
}

.arrow-icon2{
    width: 30px;
    margin:auto;
    margin-left: 170px; 
}

.d-table2 {
    width: 1000px;
    margin:auto;
    font-size: 15px;
}

