.profile_div{
    position: absolute;
    left:0px;
    text-align: right;
    font-family: "Montserrat", sans-serif;
    font-size: 14px;
    line-height: 1.3;
    color: black;
    width:130px
}
.profile_body {
    position: relative;
    width: 200px;
    height: 60px;
    cursor: pointer;
}
.profile_container {
    position: relative;
    box-sizing: border-box;
    width: 200px;
    height: 50px;
    display: flex;
    align-items: center;
    padding:30px;
}
.pimage {
    position: absolute;
    left: 145px;
    max-width: 40px;
    max-height: 40px;
}
.hover{
    cursor: pointer;
}