.d-div1 {
    position: relative;
    width: 100%;
    height: 600px;
    margin-bottom: 100px;
    flex: content;
    align-items: center;
}


.dcell{
    font-weight: 600;
    text-align: center;
    background-color: #aeaeae;
    padding: 6px;
    border:1.2px  rgb(156, 173, 159) solid;   
}


.d-table2{
    width: 1000px;
    margin:auto;
    border-collapse: collapse;
    font-family: "Montserrat", sans-serif;
}

.d-table2 tr{
    border:1px rgb(226, 226, 226) solid;
   
}

.d-table2 tr th{
    font-weight: 200;
    padding: 5px 10px;
    max-width:350px;
    text-align:center;
    border:1px rgb(226, 226, 226) solid;
}

.drow2{
    background-color: rgb(246, 246, 246);
}