.d-div1 {
    margin:auto;
    width: 100%;
    height: 350px;
    margin-bottom: 20px;
    flex: content;
    align-items: center;
}


.dcell{
    font-weight: 600;
    text-align: center;
    background-color: #aeaeae;
    padding: 6px;
    border:1.2px  rgb(156, 173, 159) solid;   
}


.d-table2{
    width: 1000px;
    margin:auto;
    border-collapse: collapse;
    font-family: "Montserrat", sans-serif;
    margin-bottom: 50px;
}

.d-table2 tr{
    border:1px rgb(226, 226, 226) solid;
   
}

.d-table2 tr th{
    font-weight: 200;
    padding: 5px 10px;
    max-width:350px;
    text-align:center;
    border:1px rgb(226, 226, 226) solid;
}
.d-table2 tr td{
    font-weight: 200;
    padding: 5px 10px;
    max-width:350px;
    text-align:center;
    border:1px rgb(226, 226, 226) solid;
}

.drow2{
    background-color: rgb(246, 246, 246);
}


.dilosi_rectangle1 {
    margin: auto;
    border-radius: 3px;
    border: 2px solid #547980;
    width: 240px;
    padding: 10px 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    line-height: 1.5;
    color: white;
    font-weight: 900;
    text-shadow: none;
    background-color: #547980;
    &:hover{
        cursor:pointer;
        background-color: white;
        color: #547980;
    }
}

.link{
    text-decoration: none;
}


.button-div{
    width: 1000px;
    margin:auto;
}

.button-div button{
    width: 120px;
    height:30px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #404040;
    border: 1px  #404040 solid;
    border-radius: 3px;
    font-weight: 900;
    &:hover{
        cursor: pointer;
        background-color: white;
        color: #404040;
    }
}

.error1{
    width: 500px;
    height:40px;
    margin:auto;
    margin-bottom: 50px;
    text-align: center;
    color: rgb(194, 54, 54);
}

.warning-message{
    width:500px;
    margin:auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(194, 54, 54);
    background-color: rgb(253, 237, 237);
    padding: 10px 10px;
    margin-bottom: 30px;
}

.warning-message h{
    font-weight: bold;
}


.message{
    width:500px;
    margin:auto;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(82, 116, 81);
    background-color: rgb(237, 253, 237);
    padding: 10px 10px;
    margin-bottom: 30px;
}

.icon-div{
    width:1500px;
    margin:auto;
}

.buttons{
    display:flex;
    width: 1000px;
    margin:auto;

}

.button{
    height: 40px;
    margin:auto;
    text-align: left;
    text-decoration: none;
    display: flex;
    border-radius: 3px;
    border: 2px solid #547980;
    width: 180px;
    padding: 10px 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    line-height: 1.2;
    color: white;
    font-weight: 900;
    text-shadow: none;
    background-color: #547980;
    &:hover{
        cursor: pointer;
        background-color: #445e63;
        border: 2px solid #445e63;
    }

}

.button1 div{
    width: 120px;
}

.home_icon{
    max-width:30px;
    max-height:30px;
    margin: auto;
    margin-right:10px;
}