.teacher_box {
    position: absolute;
    top: 30px;
    width: 1400px;
    height: 400px;   
    background-color: #ececec;
    display: flex;
    align-items: center;
  }

.teacher_div1,
.teacher_div2,
.teacher_div3,
.teacher_div4,
.teacher_div5,
.teacher_div6{
    border-radius: 6px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    width: 400px;
    height: 150px;
    &:hover {
        border: 2px solid rgba(0, 0, 0, 0.2);
    }
   
}
.teacher_div1{
    position: absolute;
    top: 50px;
    left: 70px;

}
.teacher_div2{
    position: absolute;
    top: 220px;
    left: 70px;
}
.teacher_div3{
    position: absolute;
    top: 50px;
    left: 520px;
}
.teacher_div4{
    position: absolute;
    top: 220px;
    left: 520px;
}
.teacher_div5{
    position: absolute;
    top: 390px;
    left: 70px;
}
.teacher_div6{
    position: absolute;
    top: 390px;
    left: 520px;
}
.timage {
    position: absolute;
    left: 5%;
    max-width: 64px;
    max-height: 64px;
    top: 25px;
}
.teachers_div{
    top: 25px;
    position: absolute;
    left: 30%;
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 20px;
    line-height: 1.2;
    color: black;
}

.teachers_div1{
    text-align: left;
    font-family: "Montserrat", sans-serif;
    font-weight: lighter;
    font-size: 14px;
    line-height: 1;
}
.teachers_body {
    position: absolute;
    top: 20%;
    left: 15%;
    width: 70%;
    height: 600px;
    overflow: hidden;
  }

.space-div2{
	width: 100%;
	background-color: rgb(37, 36, 36);
	margin: none;
	height: 220px;
}